<div class="col-sm-12">
    <div class="card">
        <form>
            <div class="card-header">
                <strong>Idea di investimento</strong>
                <small>Form</small>
            </div>
            <div class="form-group">
                <label for="modalitaprestito">Modalità prestito</label> <textarea
                    class="form-control" id="modalitaprestito"
                    placeholder="Come intendi utilizzare il prestito"
                    value="{{practice?.company}}"></textarea>
            </div>
            <div class="form-group">
                <label for="targetinvestimento">Target investimento</label> <textarea
                    class="form-control" id="targetinvestimento"
                    placeholder="Dove vuoi localizzare la maggiore quantità del prestito"
                    value="{{practice?.company}}"></textarea>
            </div>
            <div class="form-group">
                <label for="motivazioneprestito">Motivazione prestito</label> <textarea
                    class="form-control" id="motivazioneprestito"
                    placeholder="Perche vuoi un prestito"
                    value="{{practice?.company}}"></textarea>
            </div>

        </form>
    </div>
</div>