<div class="col-sm-12">
    <div class="card">
        <form>
            <div class="card-header">
                <strong>Dati anagrafici</strong>
                <small>Form</small>
            </div>
            <div class="card-block">

                <div class="form-group">
                    <label for="cognome">Cognome</label> <input type="text"
                                                                class="form-control" id="cognome"
                                                                placeholder="Enter your company name"
                                                                value="{{practice?.company}}">
                </div>
                <div class="form-group">
                    <label for="nome">Nome</label> <input type="text"
                                                         class="form-control" id="nome"
                                                         placeholder="PL1234567890" value="{{practice?.VAT}}">
                </div>
                <div class="form-group">
                    <label for="CF">CF</label> <input type="text"
                                                          class="form-control" id="CF"
                                                          placeholder="Enter street, city, postal code and country"
                                                          value="{{practice?.headquarters}}">
                </div>

                <div class="form-group">
                    <label for="natoa">Nato a</label> <input type="text"
                                                          class="form-control" id="natoa"
                                                          placeholder="Enter street, city, postal code and country"
                                                          value="{{practice?.headquarters}}">
                </div>


            </div>
            <div class="card-footer">
                <button type="reset" class="btn btn-sm btn-danger">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </form>
    </div>
</div>