<div class="col-sm-12">
    <div class="card">
        <form>
            <div class="card-header">
                <strong>Altro</strong>
                <small>Form</small>
            </div>
            <div class="card-block">

                <div class="form-group">
                    <label for="altro">Altro</label> <textarea
                        class="form-control" id="altro"
                        placeholder="Enter your company name"
                        value="{{practice?.company}}"></textarea>
                </div>
            </div>

        </form>
    </div>
</div>