<div class="col-sm-12">
    <div class="card">
        <form>
            <div class="card-header">
                <strong>Contatti</strong>
                <small>Form</small>
            </div>
            <div class="card-block">
                <div class="form-group">
                    <label for="email">Email</label> <input type="email"
                                                                    class="form-control" id="email"
                                                                    placeholder="@"
                                                                    value="{{practice?.VAT}}">
                </div>
                <div class="form-group">
                    <label for="pec">Pec</label> <input type="email"
                                                            class="form-control" id="pec"
                                                            placeholder="@"
                                                            value="{{practice?.VAT}}">
                </div>

                <div class="form-group">
                    <label for="telefono">Telefono</label> <input type="number"
                                                                     class="form-control" id="telefono"
                                                                     placeholder="Number"
                                                                     value="{{practice?.headquarters}}">
                </div>
                <div class="form-group">
                    <label for="cellulare">Cellulare</label> <input type="number"
                                                                  class="form-control" id="cellulare"
                                                                  placeholder="Number"
                                                                  value="{{practice?.headquarters}}">
                </div>

            </div>
            <div class="card-footer">
                <button type="reset" class="btn btn-sm btn-danger">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </form>
    </div>
</div>