<div class="col-sm-12">
    <div class="card">
        <form>
            <div class="card-header">
                <strong>Piano di prestito</strong>
                <small>Form</small>
            </div>
            <div class="card-block">

                <div class="form-group">
                    <label for="codice">Codice Prestito</label> <input type="text"
                                                                class="form-control" id="codice"
                                                                value="{{practice?.company}}">
                </div>
                <div class="form-group">
                    <label for="descrizione">Descrizione prestito</label> <input type="text"
                                                                class="form-control" id="descrizione"
                                                                value="{{practice?.company}}">
                </div>
                <div class="form-group">
                    <label for="tipologia">Tipologia di prestito</label> <input type="text"
                                                          class="form-control" id="tipologia"
                                                          value="{{practice?.company}}">
                </div>
                <div class="form-group">
                    <label for="finalita">Finalità</label> <input type="text"
                                                               class="form-control" id="finalita"
                                                               value="{{practice?.company}}">
                </div>

                <div class="form-group">
                    <label for="spese">Spese previste</label> <input type="number"
                                                            class="form-control" id="spese"
                                                            value="{{practice?.company}}">
                </div>


                <div class="form-group">
                    <label for="richiesti">Numero prestiti già richiesti</label> <input type="number"
                                                        class="form-control" id="richiesti"
                                                        value="{{practice?.company}}">
                </div>

                <div class="form-group">
                    <label for="accettati">Numero prestiti accettati</label> <input type="number"
                                                                                        class="form-control" id="accettati"
                                                                                        value="{{practice?.company}}">
                </div>

                <div class="form-group">
                    <label for="rifiutati">Numero prestiti rifiutati</label> <input type="number"
                                                                                    class="form-control" id="rifiutati"
                                                                                    value="{{practice?.company}}">
                </div>

                <div class="form-group">
                    <label for="esecuzione">Numero prestiti in esecuzione</label> <input type="number"
                                                                                    class="form-control" id="esecuzione"
                                                                                    value="{{practice?.company}}">
                </div>


            </div>
            <div class="card-footer">
                <button type="reset" class="btn btn-sm btn-danger">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </form>
    </div>
</div>