<div class="col-sm-12">
    <div class="card">
        <form>
            <div class="card-header">
                <strong>Piano di prestito</strong>
                <small>Form</small>
            </div>
            <div class="card-block">

                <div class="form-group">
                    <label for="global">Numero richiete globali</label> <input type="number"
                                                                class="form-control" id="global"
                                                                value="{{practice?.company}}">
                </div>
                <div class="form-group">
                    <label for="block">Numero richieste bloccate</label> <input type="number"
                                                                class="form-control" id="block"
                                                                value="{{practice?.company}}">
                </div>
                <div class="form-group">
                    <label for="fin">Numero richieste finalizzte fino all'anno precedente</label> <input type="number"
                                                          class="form-control" id="fin"
                                                          value="{{practice?.company}}">
                </div>
                <div class="form-group">
                    <label for="max">Numero di concessioni</label> <input type="number"
                                                               class="form-control" id="max"
                                                               value="{{practice?.company}}">
                </div>

                <div class="form-group">
                    <label for="tot">TOT prestito richiesto</label> <input type="number"
                                                                          class="form-control" id="tot"
                                                                          value="{{practice?.company}}">
                </div>

                <div class="form-group">
                    <label for="concessioni">Massimale di prestito richiesto</label> <input type="number"
                                                                                  class="form-control" id="concessioni"
                                                                                  value="{{practice?.company}}">
                </div>

                <div class="form-group">
                    <label for="spese">Spese previste</label> <input type="number"
                                                            class="form-control" id="spese"
                                                            value="{{practice?.company}}">
                </div>


                <div class="form-group">
                    <label for="richiesti">Numero prestiti già richiesti</label> <input type="number"
                                                        class="form-control" id="richiesti"
                                                        value="{{practice?.company}}">
                </div>

                <div class="form-group">
                    <label for="accettati">Numero prestiti accettati</label> <input type="number"
                                                                                        class="form-control" id="accettati"
                                                                                        value="{{practice?.company}}">
                </div>

                <div class="form-group">
                    <label for="rifiutati">Numero prestiti rifiutati</label> <input type="number"
                                                                                    class="form-control" id="rifiutati"
                                                                                    value="{{practice?.company}}">
                </div>

                <div class="form-group">
                    <label for="esecuzione">Numero prestiti in esecuzione</label> <input type="number"
                                                                                    class="form-control" id="esecuzione"
                                                                                    value="{{practice?.company}}">
                </div>


            </div>
            <div class="card-footer">
                <button type="reset" class="btn btn-sm btn-danger">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </form>
    </div>
</div>