<div class="col-sm-12">
    <div class="card">
        <form>
            <div class="card-header">
                <strong>Scelta del prestito</strong>
                <small>Form</small>
            </div>
            <div class="form-group row">
                <label class="col-md-3 form-control-label" for="select">Scelta prestito</label>
                <div class="col-md-9">
                    <select id="select" name="select" class="form-control input-lg" size="1">
                        <option value="0">Please select</option>
                        <option value="1">Piccolo presto finalizzato</option>
                        <option value="2">Microprestito esteso</option>
                        <option value="3">Medio prestito</option>
                    </select>
                </div>
            </div>

        </form>
    </div>
</div>