<div class="animated fadeIn">
	<div class="card card-default">
		<div class="card-header">
			<i class="fa fa-picture-o"></i> Prestiti Fiduciari
		</div>

		<div class="col-md-12 mb-2">
			<!-- Nav tabs -->
			<tabset> <tab> <template tabHeading>
			SOGGETTO PROPONENTE </template> <tabset> <tab> <template
				tabHeading> Referente del prestito </template> </tab> <tab> <template
				tabHeading> Altri soggetti richiedenti </template> </tab> <tab> <template
				tabHeading> Localizzazione referente </template> </tab> </tabset> </tab> <tab> <template
				tabHeading> PIANO DI PRESTITO </template> <tabset> <tab>
			<template tabHeading> Generali </template> </tab> <tab> <template
				tabHeading> Descrizione </template> </tab> <tab> <template
				tabHeading> Necessita' </template> </tab> </tabset> </tab> <tab> <template
				tabHeading> ASPETTI TECNICI </template> </tab> <tab> <template
				tabHeading> STAMPA ED INVIO DOMANDA </template> </tab>  </tabset>
			<button type="submit" class="btn btn-sm btn-primary">
				<i class="fa fa-dot-circle-o"></i> Save
			</button>
			<button disabled type="submit" class="btn btn-sm btn-primary">
				<i class="fa fa-dot-circle-o"></i> Send
			</button>

		</div>
	</div>