<div class="animated fadeIn">
	<div class="card card-default">
		<div class="card-header">
			<i class="fa fa-picture-o"></i> Prestiti Finalizzati
		</div>

		<div class="col-md-12 mb-2">
			<!-- Nav tabs -->
			<tabset> <tab> <template tabHeading>
			 DATI ANAGRAFICI </template>

			<div class="col-md-12 mb-2">
				<!-- Nav tabs -->
				<tabset> <tab> <template tabHeading>
				 Soggetto del prestito </template> 
				 <dati_anagrafici></dati_anagrafici>
				 <dati_residenza></dati_residenza>
				 <dati_documento></dati_documento>
				 <altro></altro>
				 </tab> <tab> <template
					tabHeading>
				 Soggetto proponente </template>
				 <dati_anagrafici></dati_anagrafici>
				 <dati_residenza></dati_residenza>
				 <dati_documento></dati_documento>
				 <altro></altro>
				  </tab>
				<tab> <template
					tabHeading>
				 Compagine sociale </template> 
				 <dati_anagrafici></dati_anagrafici>
				 <dati_residenza></dati_residenza>
				 <dati_documento></dati_documento>
				 <altro></altro> 
				 <legale></legale>
				 <operative></operative></tab>
				 <tab> <template
					tabHeading>
				 Sedi societa' </template>  
				 <legale></legale>
				 <operative></operative></tab>
				 <tab> <template
					tabHeading>
				 Contatti </template>
				 <contatti></contatti> </tab> </tabset>

			</div>

			</tab> <tab> <template tabHeading>
			 PIANO DEGLI INVESTIMENTI </template> <tabset> <tab>
			<template tabHeading>
			 Scelta del prestito </template> 
			 <sceltaprestito></sceltaprestito>
			 </tab> <tab> <template
				tabHeading>
			 Idea di investimento </template>
			 <ideainvestimento></ideainvestimento>
			  </tab> <tab> <template
				tabHeading>
			Programma di spesa </template>
			 </tab> </tabset> </tab> <tab> <template
				tabHeading>
			 STAMPA ED INVIO DOMANDA </template>
			 <uploadfile></uploadfile>
			  </tab> </tabset>
			<button type="submit" class="btn btn-sm btn-primary">
				<i class="fa fa-dot-circle-o"></i> Save
			</button>
			<button disabled type="submit" class="btn btn-sm btn-primary">
				<i class="fa fa-dot-circle-o"></i> Send
			</button>

		</div>

	</div>
</div>
