<div class="animated fadeIn">
    <div class="card" id="new">
        <div class="card-header">Prestiti Societari</div>
        
        <div class="col-md-12 mb-2">
			<!-- Nav tabs -->
			<tabset> <tab> <template tabHeading>
			 ANAGRAFICA RICHIEDENTE </template>
				<dati_anagrafici></dati_anagrafici>
				 <dati_residenza></dati_residenza>
				 <dati_documento></dati_documento>
			

			</tab> <tab> <template tabHeading>
			 ANAGRAFICA SOCIETA'</template>  
			<dati_anagrafici></dati_anagrafici>
				 <legale></legale>
				 <operative></operative>
				 </tab>
			<tab> <template
				tabHeading>
			 COMPAGINE SOCIALE </template> </tab> 
			 <tab> <template tabHeading>
			 ANAGRAFICA PROGRAMMA </template>  </tab>
			 <tab> <template tabHeading>
			 ANAGRAFICA REFERENTE </template>  </tab>
			 <tab> <template tabHeading>
			 STAMPA ED INVIO DOMANDA </template> 
			 <uploadfile></uploadfile> </tab>
			 </tabset>
			<button type="submit" class="btn btn-sm btn-primary">
				<i class="fa fa-dot-circle-o"></i> Save
			</button>
			<button disabled type="submit" class="btn btn-sm btn-primary">
				<i class="fa fa-dot-circle-o"></i> Send
			</button>

		</div>
        
        
    </div>
</div>
