<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> RICHIESTA PRESTITI
				</div>
				<div class="card-block">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Descrizione</th>
								<th><span class="badge badge-warning">In Compilazione</span></th>
								<th><span class="badge badge-default">Richiesti</span></th>
								<th><span class="badge badge-danger">Annullati</span></th>
								<th>Finalizzazione</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>Finalizzato</th>
								<td>Descr finalizzato</td>
								<td>5</td>
								<td>3</td>
								<td>2</td>
								<td>C</td>
							</tr>
							<tr>
								<th>Societario</th>
								<td>Descr finalizzato</td>
								<td>5</td>
								<td>3</td>
								<td>2</td>
								<td>C</td>
							</tr>
							<tr>
								<th>Fiduciario</th>
								<td>Descr finalizzato</td>
								<td>5</td>
								<td>3</td>
								<td>2</td>
								<td>C</td>
							</tr>
							
						</tbody>
					</table>
					<!-- <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Prev</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">4</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav> -->
				</div>
			</div>
		</div>
		<!--/.col-->
	</div>
	<!--/.row-->
</div>
